body,html{
    height: 100vh;
    width: 100vw;
    padding: 0%;
    margin: 0%;
    display: flex;
    background-color:white;
  
    box-sizing: border-box;
}



.form-container{
    display: none;
   position: relative;
   top: 50px;
    height: 100%;
    width: 400px;
    left: 500px;
    position: absolute;
    /* justify-content: center;
    align-items: center;
    justify-items: center; */
    color: white;
    
}
#forms{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 600px;
    width: 100%;
    background: linear-gradient(135deg, #22a87b, #000000);
    padding: 10px 10px;
    border-radius: 10px;
    
    
}

.btn{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;
    padding: 10px 10px;
    border: none;
    
}

li{
    list-style: none;
}
.scene{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    align-content: center;

}
.left-icons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.left-btn{
    height: 27px;
    width: 27px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    background-color:#fff;
    color: #555;
    align-items: center;
    justify-content: center;
}
.card-wrapper{
    position: relative;
    width: 300px;
}
.card{
    
    background: #fff;
    border-radius: 20px;
    padding: 24px 28px 22px ;
    width:100%;
    box-shadow: 0 2px 6px rgba(0,0,0, .06), 0 8px 24px rgba(0,0,0,0.08);
    position: relative;
    z-index: 1;
   
}
.card-wrapper::before{
    content: '';
    position: absolute;
    width: 88%;
    height: 100%;
    bottom: -20px;
    
    background: #e0e0e0;
    border-radius: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.card-wrapper::after {
    content: '';
    position: absolute;
    width: 76%;
    height: 100%;
    bottom: -30px;
    
    background: #d0d0d0;
    border-radius: 20px;
    left: 50%;
    transform: translateX(-50%);
}
